@import "tailwindcss";
@import 'material-icons/iconfont/material-icons.css';


@theme {
    --breakpoint-res: 1403px;
    /* Define the sliding animation */
        --animate-slide-in: slide-in 0.3s ease-out forwards;
    
        /* Define the keyframes */
        @keyframes slide-in {
            0% {
                opacity: 0;
                transform: translateX(10px);
                /* Start slightly to the right */
            }
    
            100% {
                opacity: 1;
                transform: translateX(0);
            }
        }
                   --animate-elastic: elastic 0.6s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
        
                   @keyframes elastic {
                       0% {
                           opacity: 0;
                           transform: translateX(30px);
                       }
        
                       100% {
                           opacity: 1;
                           transform: translateX(0);
                       }
                   }
}


.scrollbar-none {
    /* Hide scrollbar for IE, Edge */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-none::-webkit-scrollbar {
    display: none;
}

/* global.css or index.css */
.scrollbar-design::-webkit-scrollbar {
    width: 3px;
    /* scrollbar width */
}


.scrollbar-design::-webkit-scrollbar-track {
    background: transparent;
    /* track color */
}

.scrollbar-design::-webkit-scrollbar-thumb {
    background-color: #d1d5db;
    /* gray-300 */
    border-radius: 9999px;
}

.scrollbar-design::-webkit-scrollbar-thumb:hover {
    background-color: #9ca3af;
    /* gray-400 */
}
